/* ! Use extended color scheme */
  rofi.color-enabled:                  true
! ! ! Color scheme for normal row
  rofi.color-normal:                   argb:00000000,  #D8DEE9 , argb:00000000,  #efefef , #1B2B34
! ! ! Color scheme for urgent row
  rofi.color-urgent:                   argb:00000000,  #F99157 , argb:00000000,  #F99157 ,  #1B2B34
! ! ! Color scheme for active row
  rofi.color-active:                   argb:00000000,  #6699CC , argb:00000000,  #6699CC ,  #1B2B34
! ! ! Color scheme windowx
  rofi.color-window:                   argb:ee222222,  #FAC863 ,  #ffffff
! ! ! Separator style (none, dash, solid)
 x! rofi.separator-style:                solid

Xft.dpi: 96

/* rofi.color-enabled: true */

/* !                  bg       border   separator */
/*                   rofi.color-window: #1d2021, #a89984, #a89984 */

/* !                  !                  bg       fg       bg-alt   hl-bg    hl-fg */
/*                   rofi.color-normal: #1d2021, #ebdbb2, #282828, #504945, #fbf1c7 */
/*                   rofi.color-active: #d79921, #1d2021, #d79921, #fabd2f, #1d2021 */
/*                   rofi.color-urgent: #cc241d, #1d2021, #cc241d, #fb4934, #1d2021 */

Xft.hinting: true
Xft.hintstyle: hintslight
Xft.antialias: true
Xft.rgba: rgb

!*FONT:        xft:Inconsolata For Powerline:style=bold:antialias=true
!URxvt.font:    xft:Fantasque\ Sans\ Mono:size=12:style=bold:antialias=true

!URxvt.font:    xft::size=14:style=bold:antialias=true

!r.theme: DMZ-black

!URxvt.font :xft:Monospace :style=regular:pixelsize=14:antialias=true
!!!!URxvt.font:  xft:Source Code Pro Semibold:style=bold:pixelsize=13px:antialias=true
URxvt*font:                 xft:Source Code Pro Semibold:style=bold:pixelsize=13px:antialias=true, xft:DejaVu Sans:pixelsize=12
URxvt*boldFont:             xft:Source Code Pro Semibold:style=bold:pixelsize=13px:antialias=true, xft:DejaVu Sans:pixelsize=12
URxvt*letterSpace: 0


!URxvt*font: xft:Inconsolata Nerd Font Mono:size=11, xft:DejaVu Sans:size=12

URxvt.letterSpace:         -1

*background: #ffffff
*foreground: #000000
! ! black
 *color0: #000000
 *color8: #000000
! ! red
 *color1:#A54242
 *color9: #CC6666
! ! green
 *color2: #AAFFAA
 *color10:#55BB55

! ! yellow
 *color3: #DE935F
 *color11: #F0C674
! ! blue
 *color4: #1188AA
 *color12: #1188AA
! ! magenta
 *color5: #85678F
 *color13: #B294BB
! ! cyan
 *color6: #5E8D87
 *color14: #8ABEB7
! ! white
 *color7: #ffffff
 *color15: #C5C8C6

URxvt.transparent : 1
URxvt.shading : 30
URxvt*fading:              30
URxvt.internalBorder:      0
URxvt.externalBorder:      0


URxvt.scrollBar:           false

!
 URxvt.perl-ext-common:     matcher

!
 URxvt.keysym.F11:          perl:fullscreen:switch
!
 URxvt.Resize-font.smaller: esc
 URxvt.Resize-font.bigger:  S-Up
!

 URxvt.url-launcher:        /usr/bin/chromium
 URxvt.keysym.M-Delete:     perl:matcher:list
 URxvt.colorUL:             #006699


URxvt.cursorBlink : 1

URxvt.cursorUnderline : 1

URxvt.cursorColor : cyan

URxvt*saveLines: 60000

URxvt.background: #1E262E


URxvt.foreground :white
!!URxvt.tintColor : yellow
urxvt*blurRadius: 10



URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: 0
